<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->


<!-- <ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Favorites
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header >
  <ion-toolbar>
    <ion-title >
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen="true" slot="fixed" >
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/img/alia.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="card-body1">
    <div class="user-meta ion-text-center">
      <h3 class="playername">Alia Soltani</h3>
      
      <!-- <h6 class="ranking">Current ranking: <ion-chip>
        <ion-label>2</ion-label>
        </ion-chip>
      </h6> -->
      <h5 class="country">Expert comptable</h5>
     
      
    </div>
    
    <div class="input ion-text-center">
      <ion-input value="Email: aliasoltani@gmail.com" readonly></ion-input>
      <ion-input value="Adresse: Avenue tutu, Tunis" readonly></ion-input>
      <ion-input value="Telephone: 00000000" readonly></ion-input>
    </div>

    <!-- <ion-button expand="full"  color="blue"shape="round" routerLink="modif">Modifier vos données</ion-button> -->
    <ion-button expand="full" color="light" shape="round">Se déconnecter</ion-button>
    <!-- <ion-button expand="full" color="secondary">View profile at ATP</ion-button> -->
  </div>

  <div class="card-body2">

    <ion-input placeholder="Nom" value="Soltani"></ion-input>
    <ion-input placeholder="Prénom" value="Alia"></ion-input>
    <ion-input placeholder="Email" value="aliasoltani@gmail.com"></ion-input>
    <ion-input placeholder="Adresse" value="Avenue tutu, Tunis"></ion-input>
    <ion-input placeholder="Tel" value="+216 00000000"></ion-input>
    
    <ion-button expand="full" color="medium" type="reset" shape="round"  routerLink="" style="width: 115px;" >Cancel</ion-button>
    <ion-button expand="full" color="blue" type="submit" shape="round"  routerLink="" style="width: 175px;" pull-right>Enregistrer</ion-button>
       
    
    </div>

</ion-content>
