
ion-content {
    --background: url(../../../assets/img/bg.jpg) no-repeat top center/cover fixed, rgb(255, 255, 255);
    opacity: 0.85;
    position: relative;
    height: 100%;
    width: 100%;
}

ion-toolbar {
    --background: #2d1e5763;
}

.card {
    margin: 0 auto;

    .header {
        height: 200px;

        .avatar {
            width: 120px;
            height: 120px;
            position: relative;
            margin: 0 auto;
            
            

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                border: 8px solid #2e2e8042;
                background-color: #fff;
            } 
        }
    }
}

.card-body {
    background-color: #030303b4;
    padding: 30px;
    padding-top: 80px;
    margin-top: -40px;
    height: calc(115vh - (200px + 56px));
    overflow: hidden;

    ion-input {
        border: 1px solid #2825c9;
        border-radius: 10px !important;
        --placeholder-color:white;
        margin-bottom: 5px;
        --padding-start: 10px;
       
        }
ion-button{
    margin-top: 20px;
    display: inline-block;
   
    font-size: 0.9em;
    height: 40px;

}
        
    }

  