

<ion-header >
  <ion-toolbar>
    <ion-title >
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content fullscreen="true" slot="fixed" >
   <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/img/alia.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">

<ion-input placeholder="Nom"></ion-input>
<ion-input placeholder="Prénom"></ion-input>
<ion-input placeholder="Email"></ion-input>
<ion-input placeholder="Adresse"></ion-input>
<ion-input placeholder="Tel"></ion-input>

<ion-button expand="full" color="medium" type="reset" shape="round"  routerLink="" style="width: 100px;">Cancel</ion-button>
<ion-button expand="full" color="blue" type="submit" shape="round"  routerLink="" style="width: 150px;">Enregistrer</ion-button>
   


</div>
</ion-content>
